header {
    height: 320px;
    margin-top: 70px;
}

nav {
    position:absolute;
    left:0;top:0;
    width:100%;
    height:70px;
    background-color: #333;
}
/*imgem pquena do centro*/
nav img {
    width: 70px;
    left: 50%;
    margin-left: -35px;
}


section.slider-show {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 ;
    overflow: hidden;
}

.slider-show-container {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-show-container input{
    display: none;
}

.slider-box-images {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slider-box-images img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#btn-slider1:checked ~ .nav-auto .btn-auto1, #btn-slider2:checked ~ .nav-auto .btn-auto2, #btn-slider3:checked ~ .nav-auto .btn-auto3{
    background-color: #010175;
}

#btn-slider1:checked ~ .slidershow-one {
    margin-left: 0%;
}
#btn-slider2:checked ~ .slidershow-two {
    margin-left: -25%;
}
#btn-slider3:checked ~ .slidershow-three {
    margin-left: -50%;
}

/*@media screen and (max-width: 900px) {
    .slider-image-desktop{
        display: none;
    }
}*/